    {% include "fr/header-fr.html" %}    


 <!-- Intro -->
        <div class="container">
	  <div></br></br></br></div>
            <div class="row">
	      <div class="col-md-1"></div>
	      <div class="col-md-2 text-left"><h2>À propos de</br>Jalgos</h2></div>
              <div class="col-md-8 text-center">
                 <h4 class="text-left">Nous aidons nos clients à tirer profit des données pour optimiser leur performance. </br>Nous leur fournissons les outils et services nécessaire à leur transformation data.
</br></br>
		  
		 </h4>
              </div>
	      <div class="col-md-1"></div>
	      <div class="col-md-1"></div>
		  <div class="row">
		    <div class="col-lg-12 text-center">
		      <span class="fa-stack fa-2x">
			<a class="page-scroll" href="#team"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		      </span>
		    </div>
		     </br></br> </br></br> </br></br>
		  </div>
	    </div>
	</div>
 
<!-- Team Section-->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nous</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Julien Murésianu</h4>
			
			<h6 class="text-muted">Co-fondateur</h6>
		
                        <p class="text-muted text-left">Après avoir étudié la physique et l'économie à l'<a href="https://www.polytechnique.edu/en" target="_blank">École Polytechnique</a>, Julien s'est spécialisé en statistiques et business international à l'<a href="http://www.ensae.fr/ensae_engl/" target="_blank">ENSAE</a> et <a href="http://www.sciencespo.fr/en/home" target="_blank">Sciences-Po</a>. Il a travaillé en tant que consultant en finance pendant quelques années tout en enseignant l'économie et les méthodes quantitatives. Après avoir été Chief Scientist de Nukomeet, il a co-fondé Jalgos pour apporter la valeur des algorithmes à ses clients.</br></br></br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/julienmu" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sébastien Lamy</h4>
			<h6 class="text-muted">Co-fondateur</h6>
						
                        <p class="text-muted text-left">Sébastien a étudié les mathématiques et la finance à l'<a href="https://www.polytechnique.edu/en" target="_blank">École Polytechnique</a> et a continué sa spécialisation à <a href="http://www.nyu.edu/" target="_blank">NYU</a>. Il a exercé les fonctions de trader algorithmique chez Barclays, où il construisait des algorithmes de trading automatiques détectant et tirant profit des signaux sur les marchés financiers. Il co-fonda ensuite Jalgos pour fournir son expertise à ses clients.</br></br></br></br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/seblamydlc/en" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
	<div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Michael Pursey</h4>
			<h6 class="text-muted">Associé, data scientist</h6>
						
                        <p class="text-muted text-left">Diplômé en physique de l’<a href="https://www.imperial.ac.uk/">Imperial College de Londres</a>, Michael a débuté sa carrière en tant que consultant dans le secteur financier. Il a ensuite repris ses études à l’<a href="http://www.parisschoolofeconomics.eu/en/">Paris School of Economics</a>École d’Économie de Paris</a> pour obtenir un master en économie quantitative. Après avoir entamé un doctorat à <a href="http://www.ucla.edu/">UCLA</a>, Michael rejoint Jalgos en tant qu’associé et data scientist, apportant son expertise en modélisation mathématique et son expérience en conseil pour aider les entreprises à se développer.</br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/michaelpursey" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

		<div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/marco.jpg" class="img-responsive img-circle" alt="">
                        <h4>Marc Herbault</h4>
			<h6 class="text-muted">Business developper</h6>

                        <p class="text-muted text-left">Après une formation commerciale à l'<a href="http://www.istec.fr/index_istec-ecole-commerce-bachelor-master.html" target="_blank">ISTEC</a> et à l'<a href="http://www.kedgebs.com/fr/pge" target="_blank">ESC Bordeaux</a>, Marc a co-fondé Razzia.co un site de social commerce et Tweetbooster.fr une technologie d'amplification sur Twitter. Chez Jalgos, il est en charge de définir la stratégie de prospection et de développer le portefeuille clients.</br></br></br></br></br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/marcherbault" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

		<!--<div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/jalgos_logo_small.png" class="img-responsive img-circle" alt="">
                        <h4>You</h4>

			We are currently looking for:
			<h6 class="text-muted">Data engineer</h6>

                        <p class="text-muted text-left"></p>

			<h6 class="text-muted"></h6>

                        <p class="text-muted text-left"></p>

			<h6 class="text-muted">Data engineer</h6>

                        <p class="text-muted text-left"></p>

			<h6 class="text-muted">Data engineer</h6>

                        <p class="text-muted text-left"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/marcherbault" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>-->
				
            </div>
            <div class="row">
		    <div class="col-lg-12 text-center">
		      <span class="fa-stack fa-2x">
			<a class="page-scroll" href="#DNA"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		      </span>
		    </div>
		     </br></br> </br></br> </br></br>
	    </div>
	    
        </div>
    </section>



<!-- DNA -->
    <section id="DNA" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Notre vision</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-left" "portfolio-item">
              
                <div class="col-md-6">
                   
                    <h3>Constats</h3>
		    <ul class="text-muted">
		      <li>Les entreprises qui <strong>intègrent intelligemment les données</strong> en tant qu'actif clé gagnent un avantage stratégique significatif sur leurs concurrents.</li>		       </br>

		      <li>L'intégration ou l'installation d'outils et de solutions génériques sans une <strong>vision stratégique claire</strong> est au mieux inutile et souvent coûteuse.</li>		       </br>		     
		      <li>La valeur qui sera apportée par vos données sera toujours extraite et présentée par un <strong>algorithme</strong>.</li>
		   
		    </ul>
                  </div>

                <div class="col-md-6">
                    
                    <h3>Convictions</h3>
                     <ul class="text-muted" style="margin-bottom: 13px">
		       <li>En big data, il n'existe <strong>pas de solution miracle</strong> qui s'adapterait à toutes activités, architectures, contrainte et stratégies. </li>
		       </br>
		      <li>Afin d'<strong>extraire la valeur contenue dans vos données</strong>, vous avez besoin d'un algorithme adapté, bien avant d'avoir besoin d'une nouvelle équipe.</li>		       </br>

		      <li>Vos solutions big data doivent être fondées sur une <strong>architecture données</strong> correctement définie, décloisonnée et cohérente.</li>
</br>
		      <li>Pour tirer profit de vos solutions sur mesure, vos équipes et votre management doivent être <strong>éduqués au monde de la data</strong> pour participer activement à la conduite du changement et intégrer intelligemment la data dans leurs activités, processus de décision et stratégie.</li>		   
		    </ul>
		</div>
            </div>
	     <div></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div> 
        </div>
    </section>



 
<!-- Team Section
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-2"></div>
	      <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Julien Murésianu</h4>
			<h6 class="text-muted"><a href="https://www.polytechnique.edu/en" target="_blank">X</a>, <a href="http://www.ensae.fr/ensae_engl/" target="_blank">ENSAE</a> ,  <a href="http://www.sciencespo.fr/en/home" target="_blank">Sciences-Po</a></h6>
                        <p class="text-muted text-left">After graduating in physics and economics from École Polytechnique, Julien specialized in statistics and international business. He worked in finance for a few years while teaching economics and quantitative methods. After being chief scientist of Nukomeet, he co-founded Jalgos to build high-end algorithms.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/julienmu" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sébastien Lamy</h4>
			<h6 class="text-muted"><a href="https://www.polytechnique.edu/en" target="_blank">X</a>, <a href="http://www.nyu.edu/" target="_blank">NYU</a></h6>
                        <p class="text-muted text-left">Sébastien graduated from École Polytechnique in applied mathematics and finance, and specialized further at NYU. He worked as an algorithmic trader at Barclays, building automated trading programs on financial markets. He then co-founded Jalgos to apply his skills to many fields.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/seblamydlc/en" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
				
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
	    
        </div>
    </section>
-->
 
    {% include "fr/footer-fr.html" %}    
