    {% include "fr/header-fr.html" %}    


 <!-- Intro -->
 <div class="container" id="intro">
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10 text-center">
       <h4><strong>Nous recrutons</strong><h4>
           <h4 class="text-left"></br>
Passionné(e) par la data science et captivé(e) par l'innovation en général, rejoignez Jalgos et participez à des missions de haut niveau entouré(e) par les meilleurs experts data. Parmi les premiers employés d'une entreprise en forte croissance, une progression très rapide est à attendre en fonction de vos performances.
	   </h4>

	   <h4><strong>Pour postuler</strong><h4>
           <h4 class="text-left"></br>
	     Envoyez votre candidature directement à <strong>data@jalgos.com</strong>, avec un CV et une lettre de motivation. Précisez vos disponibilités, le poste auquel vous souhaitez postuler (l'un des postes ci-dessous ou candidature spontanée) et tout éléments que vous voudriez apporter à notre attention.</br>
	     Après avoir étudié votre candidature, nous vous contacterons pour un éventuel premier entretien vidéo, puis une interview technique et un entretien final de personnalité/motivation.
	   </h4>
     </div>


     <div class="col-md-1"></div>
   </div>
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-lg-12 text-center">
       <span class="fa-stack fa-2x">
	 <a class="page-scroll" href="#apply"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
       </span>
     </div>
   </div>
 </div>

<!-- Use cases Section -->
 <section id="apply">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading">Postes</h2>
	 </br></br> </br></br>
       </div>
     </div>
   </div>

   <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Data Scientist Stagiaire</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Encadré par des data scientists séniors, le stagiaire mènera à bien des missions d'analyse et de R&D en data science sur des problématiques concrètes. Depuis l'analyse exploratoire de bases de données au design d'algorithme, toutes les facettes d'une mission de data science seront couvertes.</br></br>
	   
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Formation souhaitée:</u></strong></br></br>
	   Bac+4/5 en grande école, spécialisation en mathématiques appliquées, statistiques, physique, informatique, économie, bio-statistiques et autres disciplines impliquant l'analyse de données et la modélisation. Une première expérience ou réalisation est un plus.
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>1000€ par mois</li>
	     <li>Stage conventionné de fin d'études (6 mois)</li>
	     <li>Stage conventionné de recherche en cours d'études (3 mois)</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Compétences requises:</u></strong></br></br>
	   <ul>
	     <li>Expérience en UX design et interfaces homme-machine</li>
	     <li>Maîtrise des outils de graphic design et de librairies de data viz</li>
	     <li>Capacité à gérer les données et à interagir avec des bases de données.</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Qualités attendues:</u></strong></br></br>
	   <ul>
	     <li>Autonomie et créativité</li>
	     <li>Capacité de synthèse et capacité à communiquer</li>
	     <li>Motivation et capacité de travail</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>


  <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Data Engineer Stagiaire</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Encadré par des data scientists séniors, le stagiaire mènera à bien des missions de design d'architectures data et d'implémentation de solutions utilisant les dernières technologies (Spark, Storm, Hadoop, MongoDB, etc.).</br></br>
	   
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Formation souhaitée:</u></strong></br></br>
	   Bac+4/5 en informatique/computer science. Des expériences en programmation et développement de solutions de gestion de données sont attendues.
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>Rémunération selon profils</li>
	     <li>Stage conventionné de fin d'études (6 mois)</li>
	     <li>Stage conventionné en cours d'études (~3 mois)</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Compétences requises:</u></strong></br></br>
	   <ul>
	     <li>Excellente maîtrise en programmation (quelques langages parmi Python, Java, Scala, C, C++, C#, Clojure, etc.)</li>
	     <li>Solide maîtrise en SQL et techonologies NoSQL (MongoDB, HBase, etc)</li>
	     <li>Première expérience avec une technologie Big Data (Spark, Storm, Hadoop, etc.) et les problématiques d'optimisation de performance</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Qualités attendues:</u></strong></br></br>
	   <ul>
	     <li>Autonomie et créativité</li>
	     <li>Capacité de synthèse et capacité à communiquer</li>
	     <li>Motivation et capacité de travail</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>

  <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Data Scientist Junior</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Accompagnant activement les data scientists séniors, le data scientist junior mènera à bien des missions d'analyse et de R&D en data science sur des problématiques concrètes. Depuis l'analyse exploratoire de bases de données au design d'algorithme, toutes les facettes d'une mission de data science seront couvertes.</br></br>
	   
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Formation souhaitée:</u></strong></br></br>
	   Bac+4/5 en grande école, spécialisation en mathématiques appliquées, statistiques, physique, informatique, économie, bio-informatique et autres disciplines impliquant l'analyse de données et la modélisation. Une première expérience ou réalisation est exigée.
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>Rémunération selon profil</li>
	     <li>CDI</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Compétences requises:</u></strong></br></br>
	   <ul>
	     <li>Excellente maîtrise en statistiques et méthodes quantitatives</li>
	     <li>Capacité de modélisation, compréhension intuitive des modèles</li>
	     <li>Aisance en programmation R ou équivalent (Julia, Matlab, etc.), expérience en programmation de langages de scripts ou compilés (Python, Perl, JS, C++, Java, C#, etc.).</li>
	     <li>Aisance avec les algorithmes de machine learning et les technologies de parallélisation</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Qualités attendues:</u></strong></br></br>
	   <ul>
	     <li>Autonomie et créativité</li>
	     <li>Capacité de synthèse et capacité à communiquer</li>
	     <li>Motivation et capacité de travail</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>

  <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Expert en data viz</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Possédant à la fois des compétence de designer (interface homme-machine, UX, graphic design) et une aisance à manipuler les données, vous serez en charge du développement d'interfaces et avec l'aide de data engineer, de la mise en place de solutions de reportings de data.</br>
	   Une expérience solide en UX design et en data viz est attendue. Une familiarité avec les technologies web (HTML5, CSS, JS), l'interaction avec des API (en particulier Maps), les outils et librairie de data viz (D3, Raphael, etc.) et outils graphiques (Photoshop, Gimp, etc.) est exigée.
	 </div></br></br>
	 <div class="text-muted text-left">
	   <strong><u>Formation souhaitée:</u></strong></br></br>
	   Bac+4/5 et/ou forte expérience (portfolio et/ou github)
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>Rémunération selon profil</li>
	     <li>CDI</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Compétences requises:</u></strong></br></br>
	   <ul>
	     <li>Excellente maîtrise en statistiques et méthodes quantitatives</li>
	     <li>Capacité de modélisation, compréhension intuitive des modèles</li>
	     <li>Aisance en programmation R ou équivalent (Julia, Matlab, etc.), expérience en programmation de langages de scripts ou compilés (Python, Perl, JS, C++, Java, C#, etc.).</li>
	     <li>Aisance avec les algorithmes de machine learning et les technologies de parallélisation</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Qualités attendues:</u></strong></br></br>
	   <ul>
	     <li>Autonomie et créativité</li>
	     <li>Capacité de synthèse et capacité à communiquer</li>
	     <li>Motivation et capacité de travail</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>


 </section>
 





 
 




    {% include "fr/footer-fr.html" %}    
