    {% include "fr/header-fr.html" %}    


<!-- Contact -->
<div class="container">
  <div></br></br></br></div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <h4 class="text-left">Si vous souhaitez davantage d'informations sur nos services, désirez échanger avec nous sur votre projet, candidater à un poste ou simplement nous écrire un message, écrivez-nous à:</h4></br>
      <h3>data@jalgos.com</h3>
</br></br>
<h4 class="text-left">Ou appelez-nous directement:</h4></br>
<h3>+33 6 51 61 16 81</h3>
</br></br>

<h4>Nous vous répondrons dans les plus brefs délais</h4>
</br></br>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

    {% include "fr/footer-fr.html" %}    
