<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalgos, Data Science</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="/"><img src="img/jalgosteenlight.jpg"></a>
		  </li>
                </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>
                        <a href="/fr">Home</a>
                    </li>
		    <li>
                        <a href="/usecases-fr">Use cases</a>
                    </li>
                    <li>
                        <a href="/about-fr">Nous</a>
                    </li>
		    <li>
                        <a href="/contact-fr">Contact</a>
                    </li>
                    <li>
                        <a href="/fr"><img src="img/fr.jpg"></a>
		    </li>
		    <li>
			<a href="/"><img src="img/en.jpg"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
	      <div><img src="img/jalgos_white.png"></div>
	      <div></br></br></div>
                <div class="intro-heading">Data Science Agency</div>
                <div class="intro-lead-in">Consulting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transformation</div>
               <!--<a href="#DNA" class="page-scroll"><button type="submit" class="btn btn-x1">Learn More</button></a>
		<!--<div class="intro-lead-in" style="font-style: normal">To contact us: julien @ jalgos.com</div>-->
            </div>
        </div>
    </header>

 <!-- Intro -->
        <div class="container">
	  <div></br></br></br></div>
            <div class="row">
	      <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                 <h4 class="text-left">Les données sont le nouveau carburant des entreprises et de l'innovation. Il est devenu essentiel dans de nombreuses industries d'intégrer les volumes titanesques de données disponibles et de maîtriser l'art de les transformer en connaissances, informations et valeur.</br></br>
Extraire la valeur contenue dans les données est notre spécialité.
</br></br>Jalgos aide les entreprises à <span class="text-muted"><u>définir leur stratégie de récolte et de gestion des données</u></span>, puis <span class="text-muted"><u>conçoit des algorithmes et outils sur-mesure afin d'optimiser la performance de leurs actifs digitaux</u></span>, et enfin <span class="text-muted"><u>accompagne leurs équipes vers une culture data solide</u></span> pour une transition data complète et efficace.
		 </h4>
              </div>
	      <div class="col-md-1"></div>
	    </div>


    <!-- Advisory Section -->
    <section id="advisory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conseil</h2>
                </div>
            </div>
	   
	    </br></br>

	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Audit et valorisation</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p>Nous réalisons une analyse exploratoire des données, couplèe avec un audit complet des capacités et de la maturité data, permettant d'<strong>identifier et évaluer la valeur potentielle et la pertinence des futurs projets data</strong>.
		    
		  </p>
		</div>
              </div>
	     
                <div class="col-md-4">
                    <h4 class="service-heading">Stratégie data</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">Nous articulons un ensemble de recommandations quant aux <strong>opportuntiés stratégiques</strong> liées aux données pour générer de la valeur. Nous définissons les <strong>méthodes  et roadmaps pour conduire ces projets avec succès</strong>. 
		     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Data Management</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">Nous partageons notre expertise pour guider nos clients dans leurs choix d'<strong>architecture et de technologies big data constituant le DMP</strong> afin d'optimiser l'efficacité, la robustesse et la fiabilité de leurs actifs digitaux.
		
                      </p>
               
                    </div>
		</div>
            </div>  
        </div>
    </section>




    <!-- Solutions Section -->
    <section id="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Solutions</h2>
                </div>
            </div></br></br>
	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Récolte de données</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p><strong>Nous identifions et collectons les données pertinentes pour votre activité</strong>, capitalisant à la fois sur les données générées par propres actifs digitaux de nos clients et sur l'enrichissement ciblé depuis des sources extérieures (Internet, applications, objets connectés, etc.). Nos mettons en place les solutions de tracking, scraping et archivage adaptées aux contraintes de l'activité.
		    
		  </p>
		</div>
              </div>


                <div class="col-md-4">
                    <h4 class="service-heading">Design d'algorithmes</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-skyatlas fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">Les missions de recherche et développement visant à concevoir, réaliser et implémenter la technologie répondant de façon optimale aux objectifs de nos clients est l'<strong>activité historique de l'agence Jalgos</strong>.</br> Nous avons créé des <strong>solutions et technologies innovantes servant de base à l'activité digitale de nos clients</strong>.	     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Déploiement de solutions</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">Nous sélectionnons et déployons <strong>outils et technologies de reporting, visualisation et traitement big data</strong> permettant de transformer les données en connaissances à haute valeur ajoutée.     
			
                      </p>
               
                    </div>
		</div>
            </div>  
        </div>
    </section>



    <!-- Trransformation Section -->
    <section id="transformation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transformation</h2>
                </div>
            </div>
	    </br></br>
	    <div class="row text-center" "portfolio-item">
                <div class="col-md-1">
                </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Formation</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      Notre formation "data science pour managers" vise à transmettre <strong>la culture et l'état d'esprit "data" aux managers et équipes</strong> de nos clients. La compréhension par le management des enjeux, concepts et opportunités liés aux données est une condition <em>sine qua non</em> à l'intégration réussie de technologies et méthodes data au sein d'une activité. Jalgos aide également au <strong>recrutement et à la consitution d'équipes de data scientists</strong>.
                    </p>
		    </div>
                  </div>
		<div class="col-md-2">
                </div>
		<div class="col-md-4">
                  <h4 class="service-heading">Évangélisation</h4>
		  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                  </span>
		  <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      Nous aimons communiquer publiquement notre passion. <strong>Nous organisons des hackathons data ainsi que des compétitions de data science</strong> pour nos partenaires et clients. </br>Jalgos est également à l'initiative et derrière l'<strong>organisation de la conférence Data for Change</strong>, avec ses partenaires Socialter et Nukomeet.
                    </p>
		  </div>
                </div>
		
                <div class="col-md-1">
                  
		</div>
            </div>  
        </div>
    </section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4  text-left">
        <span class="copyright">Copyright &copy; Jalgos SAS 2013-2015</br>Jalgos SAS </br>34 rue George Sand </br>75016 Paris, France</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/JalgosTeam" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/jalgos" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
         <span class="copyright">Contact: data @ jalgos.com</span>
      </div>
    </div>
  </div>
</footer>

</body>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    

</html>
