    {% include "header-fr.html" %}    


 <!-- Intro -->
        <div class="container" id="intro">
	  <div></br></br></br></br></br></br></div>
            <div class="row">
	      <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
		<h4><strong>Nous transformons votre data en valeur</strong><h4>
                 <h4 class="text-left"><!--Les données sont le nouveau carburant des entreprises et de l'innovation. Il est devenu essentiel dans de nombreuses industries d'intégrer les volumes titanesques de données disponibles et de maîtriser l'art de les transformer en connaissances, informations et valeur.</br></br>-->
</br></br>Nous aidons les entreprises à <span class="text-muted"><u>définir leur stratégie data</u></span>, nous concevons des <span class="text-muted"><u>algorithmes et outils sur-mesure</u></span> afin d'optimiser la performance de leurs actifs digitaux, et <span class="text-muted"><u>accompagnons leurs équipes vers une culture data solide</u></span> pour une transformation data complète et efficace.
		 </h4>
              </div>
	      <div class="col-md-1"></div>
	    </div>
	    <div></br></br></br></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#advisory"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>
	</div>

    <!-- Advisory Section -->
    <section id="advisory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conseil</h2>
                </div>
            </div>
	   
	    </br></br>

	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Audit et valorisation</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p>Nous réalisons une analyse exploratoire des données, couplèe avec un audit complet des capacités et de la maturité data, permettant d'<strong>identifier et évaluer la valeur potentielle et la pertinence des futurs projets data</strong>.
		    
		  </p>
		</div>
              </div>
	     
                <div class="col-md-4">
                    <h4 class="service-heading">Stratégie data</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">Nous articulons un ensemble de recommandations quant aux <strong>opportuntiés stratégiques</strong> liées aux données pour générer de la valeur. Nous définissons les <strong>méthodes  et roadmaps pour conduire ces projets avec succès</strong>. 
		     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Data Management</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">Nous partageons notre expertise pour guider nos clients dans leurs choix d'<strong>architecture et de technologies big data constituant le DMP</strong> afin d'optimiser l'efficacité, la robustesse et la fiabilité de leurs actifs digitaux.
		
                      </p>
               
                    </div>
		</div>
            </div> 
 <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#solutions"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>   
        </div>
    </section>




    <!-- Solutions Section -->
    <section id="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Solutions</h2>
                </div>
            </div>
	    <div class="text-center"><a href="/usecases">Découvrez nos use cases</a></div></br></br>
	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Récolte de données</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p><strong>Nous identifions et collectons les données pertinentes pour votre activité</strong>, capitalisant à la fois sur les données générées par propres actifs digitaux de nos clients et sur l'enrichissement ciblé depuis des sources extérieures (Internet, applications, objets connectés, etc.). Nos mettons en place les solutions de tracking, scraping et archivage adaptées aux contraintes de l'activité.
		    
		  </p>
		</div>
              </div>


                <div class="col-md-4">
                    <h4 class="service-heading">Design d'algorithmes</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-skyatlas fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">Au coeur de notre offre, les missions de recherche et développement visant à concevoir, réaliser et implémenter la technologie répondant de façon optimale aux objectifs de nos clients est l'<strong>activité historique de l'agence Jalgos</strong>.</br> Nous avons créé des <strong>solutions et technologies innovantes servant de base à l'activité digitale de nos clients</strong>.	     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Déploiement de solutions</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">Nous sélectionnons et déployons <strong>outils et technologies de reporting, visualisation et traitement big data</strong> permettant de transformer les données en connaissances à haute valeur ajoutée.     
			
                      </p>
               
                    </div>
		</div>
            </div>
 <div></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#transformation"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>      
        </div>
    </section>



    <!-- Trransformation Section -->
    <section id="transformation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transformation</h2>
                </div>
            </div>
	    </br></br>
	    <div class="row text-center" "portfolio-item">
                <div class="col-md-1">
                </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Formation</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      Notre formation "data science pour managers" vise à transmettre <strong>la culture et l'état d'esprit "data" aux managers et équipes</strong> de nos clients. La compréhension par le management des enjeux, concepts et opportunités liés aux données est une condition <em>sine qua non</em> à l'intégration réussie de technologies et méthodes data au sein d'une activité. Jalgos aide également au <strong>recrutement et à la consitution d'équipes de data scientists</strong>.
                    </p>
		    </div>
                  </div>
		<div class="col-md-2">
                </div>
		<div class="col-md-4">
                  <h4 class="service-heading">Évangélisation</h4>
		  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                  </span>
		  <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      Nous aimons communiquer publiquement notre passion. <strong>Nous organisons des hackathons data ainsi que des compétitions de data science</strong> pour nos partenaires et clients. </br>Jalgos est également à l'initiative et derrière l'<strong>organisation de la conférence Data for Change</strong>, avec ses partenaires Socialter et Nukomeet.
                    </p>
		  </div>
                </div>
		
                <div class="col-md-1">
                  
		</div>
            </div>
<div></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>      
        </div>
    </section>




    {% include "footer-fr.html" %}    
