    {% include "header.html" %}    



 <!-- Intro -->
        <div class="container">
	  <div></br></br></br></div>
            <div class="row">
	      <div class="col-md-1"></div>
	      <div class="col-md-2 text-left"><h2>About</br>Jalgos</h2></div>
              <div class="col-md-8 text-center">
                 <h4 class="text-left">We help companies leverage their data to optimise their business performance.</br>We provide the tools and services to help them achieve data maturity and generate value.
                  </br></br>
		 </h4>
		  </div>
		  <div class="col-md-1"></div>
		  <div class="row">
		    <div class="col-lg-12 text-center">
		      <span class="fa-stack fa-2x">
			<a class="page-scroll" href="#team"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		      </span>
		    </div>
		     </br></br> </br></br> </br></br>
		  </div>
	      </div>
	      

 
<!-- Team Section-->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Julien Murésianu</h4>
			
			<h6 class="text-muted">Co-founder</h6>
		
                        <p class="text-muted text-left">After graduating in physics and economics from <a href="https://www.polytechnique.edu/en" target="_blank">École Polytechnique</a>, Julien specialized in statistics and international business at <a href="http://www.ensae.fr/ensae_engl/" target="_blank">ENSAE</a> and <a href="http://www.sciencespo.fr/en/home" target="_blank">Sciences-Po</a>. He worked as a consultant in the banking industry for a few years while teaching economics and quantitative methods. After being chief scientist of Nukomeet, he co-founded Jalgos to build high-end algorithms.</br></br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/julienmu" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sébastien Lamy</h4>
			<h6 class="text-muted">Co-founder</h6>
						
                        <p class="text-muted text-left">Sébastien graduated from <a href="https://www.polytechnique.edu/en" target="_blank">École Polytechnique</a> in applied mathematics and finance, and specialized further at <a href="http://www.nyu.edu/" target="_blank">NYU</a>. He worked as an algorithmic trader at Barclays, building automated trading programs detecting and leveraging signals on financial markets. He then co-founded Jalgos to bring his data science expertise to companies.</br></br></br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/seblamydlc/en" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
		<div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Michael Pursey</h4>
			<h6 class="text-muted">Partner, data scientist</h6>
						
                        <p class="text-muted text-left">A physics graduate from <a href="https://www.imperial.ac.uk/">Imperial College London</a>, Michael started his career as a strategy consultant in financial services. He returned to academia for a masters in quantitative economics at the <a href="http://www.parisschoolofeconomics.eu/en/">Paris School of Economics</a>. After starting a PhD at <a href="http://www.ucla.edu/">UCLA</a>, Michael became a partner and data scientist at Jalgos, applying his statistical modeling and consulting skills to help businesses grow.</br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/michaelpursey" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

		<div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/team/marco.jpg" class="img-responsive img-circle" alt="">
                        <h4>Marc Herbault</h4>
			<h6 class="text-muted">Business developper</h6>

                        <p class="text-muted text-left">After graduating from <a href="http://www.istec.fr/index_istec-ecole-commerce-bachelor-master.html" target="_blank">ISTEC</a> and <a href="http://www.kedgebs.com/fr/pge" target="_blank">ESC Bordeaux</a> in business, Marc co-founded Razzia.co, a social commerce website, and Tweetbooster.fr, an amplification technology for Twitter. At Jalgos, he is defining the business development strategy and in charge of customer aquisition and success.</br></br></br></br></br></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/marcherbault" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

		<!--<div class="col-sm-3 panel panel-default">
                    <div class="team-member">
                        <img src="img/jalgos_logo_small.png" class="img-responsive img-circle" alt="">
                        <h4>You</h4>

			We are currently looking for:
			<h6 class="text-muted">Data engineer</h6>

                        <p class="text-muted text-left"></p>

			<h6 class="text-muted"></h6>

                        <p class="text-muted text-left"></p>

			<h6 class="text-muted">Data engineer</h6>

                        <p class="text-muted text-left"></p>

			<h6 class="text-muted">Data engineer</h6>

                        <p class="text-muted text-left"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.linkedin.com/in/marcherbault" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>-->
				
            </div>
           <div class="row">
		    <div class="col-lg-12 text-center">
		      <span class="fa-stack fa-2x">
			<a class="page-scroll" href="#DNA"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		      </span>
		    </div>
		     </br></br> </br></br> </br></br>
	    </div>
	    
        </div>
    </section>





 <!-- DNA -->
    <section id="DNA" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our vision</h2>
                    <h3 class="section-subheading text-muted">What companies need is the proper <strong>vision, algorithms, and knowledge</strong> to fulfill a well defined data strategy</h3>
                </div>
            </div>
            <div class="row text-left" "portfolio-item">
              
                <div class="col-md-6">
                   
                    <h3>Findings</h3>
		    <ul class="text-muted">
		      <li>Companies that <strong>smartly integrate data</strong> as a key asset gain significant strategic advantage over their competitors</li>		       </br>

		      <li>Integrating generic tools and technologies without a <strong>clear strategic vision and data mindset</strong> to properly use them will lead to financial losses</li>		       </br>		     
		      <li>The value extracted from your data will always come out of an <strong>algorithm</strong></li>
		   
		    </ul>
                  </div>

                <div class="col-md-6">
                    
                    <h3>Convictions</h3>
                     <ul class="text-muted" style="margin-bottom: 13px">
		       <li>In data, <strong>one size does not fit all</strong>. No generic solution can smartly integrate in your business and fulfill your strategy.</li>
		       </br>
		      <li>To successfully <strong>extract value from your data</strong>, you need a custom algorithm, not necessarily a new team.</li>		       </br>

		      <li>Your data solutions need to sit on a well defined, departmentalized and consistent <strong>DMP architecture</strong>.</li>
</br>
		      <li>To make the most of your custom solution, you need <strong>data-savvy teams and business leaders</strong> who understand how to smartly integrate data in their daily activity.</li>		   
		    </ul>
		</div>
            </div>
	     <div></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div> 
        </div>
    </section>

<!-- Team Section
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-2"></div>
	      <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Julien Murésianu</h4>
			<h6 class="text-muted"><a href="https://www.polytechnique.edu/en" target="_blank">X</a>, <a href="http://www.ensae.fr/ensae_engl/" target="_blank">ENSAE</a> ,  <a href="http://www.sciencespo.fr/en/home" target="_blank">Sciences-Po</a></h6>
                        <p class="text-muted text-left">After graduating in physics and economics from École Polytechnique, Julien specialized in statistics and international business. He worked in finance for a few years while teaching economics and quantitative methods. After being chief scientist of Nukomeet, he co-founded Jalgos to build high-end algorithms.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/julienmu" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sébastien Lamy</h4>
			<h6 class="text-muted"><a href="https://www.polytechnique.edu/en" target="_blank">X</a>, <a href="http://www.nyu.edu/" target="_blank">NYU</a></h6>
                        <p class="text-muted text-left">Sébastien graduated from École Polytechnique in applied mathematics and finance, and specialized further at NYU. He worked as an algorithmic trader at Barclays, building automated trading programs on financial markets. He then co-founded Jalgos to apply his skills to many fields.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://fr.linkedin.com/in/seblamydlc/en" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
				
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
	    
        </div>
    </section>
-->
 
{% include "footer.html" %}
