    {% include "header.html" %}    


 <!-- Intro -->
 <div class="container" id="intro">
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10 text-center">
       <h4><strong>We are hiring</strong><h4>
           <h4 class="text-left"></br>
	     For data-addict and innovation driven people, a career at Jalgos is a great opportunity to participate in high-end data science missions with the best data scientists. Among the first employees of a high-growth start-up, expect a quick progression and responsabilities.
	   </h4>

	   <h4><strong>To apply</strong><h4>
           <h4 class="text-left"></br>
	     Send your application directly at <strong>data@jalgos.com</strong>, with a resume, and an explanation of your motivation and expectations. Precise the post(s) to which you would like to apply, and your disponibility. Feel free to add any element that you would like to put to our attention.</br>
	     After studying your profile, we will organize a first video-call interview, followed by a technical interview and a final personality and motivation interview.

	   </h4>
     </div>


     <div class="col-md-1"></div>
   </div>
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-lg-12 text-center">
       <span class="fa-stack fa-2x">
	 <a class="page-scroll" href="#apply"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
       </span>
     </div>
   </div>
 </div>

<!-- Use cases Section -->
 <section id="apply">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading">Jobs</h2>
	 </br></br> </br></br>
       </div>
     </div>
   </div>

   <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Data Scientist Intern</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Managed by senior data scientists, the intern will lead analytics and R&D missions to solve specific problems. From exploratory analysis of datasets to algorithm design, every aspects of a data science mission will be covered.
	   </br></br>
	   
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected profile:</u></strong></br></br>
	   Master's degree or equivalent in top university, specialization in applied mathematics, statistics, physics, computer science, economics, bio-statistics and any field implying strong modelling and quantitative skills. A first professionnal experience is appreciated.
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>1000€ a month</li>
	     <li>Final internship</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Expected skills:</u></strong></br></br>
	   <ul>
	     <li>Fluency in statistics and quantitative methods</li>
	     <li>Ability to use and design models adapted to real and new situations</li>
	     <li>Fluency in R programming or equivalent (Julia, Matlab, etc.), experience in compiled or scripting languages (Python, Perl, JS, C++, Java, C#, etc.).</li>
	     <li>Experience with machine learning algorithms and techniques and with parallelization and big data technologies.</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected qualities:</u></strong></br></br>
	   <ul>
	     <li>Creativity and independence</li>
	     <li>Ability to synthetize and communicate results clearly</li>
	     <li>Motivation</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>


  <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Data Engineer Intern</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  Managed by senior data scientists, the intern will lead big data architecture design and implementation missions, using state of the art technologies (Spark, Storm, Hadoop, MongoDB, etc.) </br></br>
	   
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected profile:</u></strong></br></br>
	   Master's degree in computer science from top universities, with realizations in big data technologies use.
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>Package varies with the candidate's profile</li>
	     
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Required skills:</u></strong></br></br>
	   <ul>
	     <li>FLuency in programming (at least a few languages among Python, Java, Scala, C, C++, C#, Clojure, etc.)</li>
	     <li>Solid skills in SQL and NoSQL technologies (MongoDB, HBase, etc)</li>
	     <li>First realization with a big data technology (Spark, Storm, Hadoop, etc.)and performance optimization</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected qualities:</u></strong></br></br>
	   <ul>
	      <li>Creativity and independence</li>
	     <li>Ability to synthetize and communicate results clearly</li>
	     <li>Motivation</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>

  <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Junior Data Scientist</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Managed by senior data scientists, the junior will lead analytics and R&D missions to solve specific problems. From exploratory analysis of datasets to algorithm design, every aspects of a data science mission will be covered.
	   </br></br>
	   
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected profile:</u></strong></br></br>
	   Master's degree or equivalent in top university, specialization in applied mathematics, statistics, physics, computer science, economics, bio-statistics and any field implying strong modelling and quantitative skills. A first professionnal experience is required.
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>Package varies with profiles</li>
	     <li>Long term</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Expected skills:</u></strong></br></br>
	   <ul>
	     <li>Fluency in statistics and quantitative methods</li>
	     <li>Ability to use and design models adapted to real and new situations</li>
	     <li>Fluency in R programming or equivalent (Julia, Matlab, etc.), experience in compiled or scripting languages (Python, Perl, JS, C++, Java, C#, etc.).</li>
	     <li>Experience with machine learning algorithms and techniques and with parallelization and big data technologies.</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected qualities:</u></strong></br></br>
	   <ul>
	     <li>Creativity and independence</li>
	     <li>Ability to synthetize and communicate results clearly</li>
	     <li>Motivation</li>
	   </ul>
	 </div>
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>

  <div class="container">     
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Data viz expert</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Combining design skills (human-computer interface, UX, graphic design) and the ability to manipulate data and interact with databases, you will be in charge of the development of dashboard, interfaces and visual solutions in data science.</br>
	   A solid experience in UX design and data visualization is appreciated, as well as experience with web technologies, APIs, and data visualization libraries (D3, Raphael, etc.) and graphical tools.
	  
	 </div></br></br>
	 <div class="text-muted text-left">
	   <strong><u>Expected profile:</u></strong></br></br>
	   Master's degree and/or portfolio of realizations
	   
	 </div></br></br>
	  <div class="text-muted text-left">
           <strong><u>Conditions</u></strong>:
	   <ul>
	     <li>Package varies with profiles</li>
	     <li>Long term</li>
	   </ul>
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	  <strong> <u>Required skills:</u></strong></br></br>
	   <ul>
	     <li>Graphic design and human-computer interactions</li>
	     <li>Fluency with graphic design tools and data viz libraries</li>
	     <li>Ability to manage data and interact with a database</li>
	   </ul>
	 </div>
	 <div class="text-muted text-left">
	   <strong><u>Expected qualities:</u></strong></br></br>
	   <ul>
	     <li>Creativity and independence</li>
	     <li>Ability to synthetize and communicate results clearly</li>
	     <li>Motivation</li>
	   </ul>
	 </div>
	 
	
       </div>
       <div class="col-md-1"></div>
       
     </div>
   </div>


<div></br></br></br></div>


 </section>
 


{% include "footer.html" %}



 
 
 






