    {% include "header.html" %}    


<!-- Contact -->
        <div class="container">
	  <div></br></br></br></div>
            <div class="row">
	      <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                 <h4 class="text-left">If you are interested in our services and solutions, want to apply for a position, or simply want to write us a message, please send an email at:</h4></br>
		 <h3>data@jalgos.com</h3>
</br></br>
<h4 class="text-left">Or call us directly:</h4></br>
		 <h3>+33 6 51 61 16 81</h3>
</br></br>

<h4>We will answer very shortly!</h4>
</br></br>
              </div>
	      <div class="col-md-1"></div>
	    </div>
	</div>


{% include "footer.html" %}
