<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalgos, Data Science</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="/"><img src="img/jalgosteenlight.jpg"></a>
		  </li>
                </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>
                        <a href="/">Home</a>
                    </li>
		    <li>
                        <a href="/usecases">Use cases</a>
                    </li>
		    <li>
                        <a href="/references">References</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
		    <li>
                        <a href="/career">Career</a>
                    </li>
		    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/fr"><img src="img/fr.jpg"></a>
		    </li>
		    <li>
			<a href="/"><img src="img/en.jpg"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
	  <div><img src="img/jalgos_white.png"></div>
	  <div></br></br></div>
          <div class="intro-heading">Data Science Agency</div>
          <div class="intro-lead-in">Consulting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transformation</div>
          <!--<a href="#DNA" class="page-scroll"><button type="submit" class="btn btn-x1">Learn More</button></a>
	      <!--<div class="intro-lead-in" style="font-style: normal">To contact us: julien @ jalgos.com</div>-->
        </div>
	<span class="fa-stack fa-2x">
         <a class="page-scroll" href="#intro"> <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i></a>
        </span>
      </div>
    </header>
    
 <!-- Intro -->
 <div class="container" id="intro">
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10 text-center">
       <h4><strong>We help transform your data into value</strong></h4>
       <h4 class="text-left"><!--Data is the new fuel of business and innovation. It has become essential in every industry to smartly integrate the titanic volumes generated and to master the art of transforming them into actionable insights and value.</br></br>-->
</br></br>We help companies <span class="text-muted"><u>define their data strategy</u></span>, we designs <span class="text-muted"><u>tailored algorithms</u></span> to optimise the performance of their digital assets, and  <span class="text-muted"><u>accompany their teams towards data literacy</u></span> for a complete data transformation.
       </h4>
     </div>
     <div class="col-md-1"></div>
   </div>
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-lg-12 text-center">
       <span class="fa-stack fa-2x">
	 <a class="page-scroll" href="#advisory"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
       </span>
     </div>
   </div>
 </div>
   
   <!-- Advisory Section -->
    <section id="advisory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Consulting</h2>
                </div>
            </div>
	   
	    </br></br>

	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Value Assessment</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p>We perform exploratory analysis of your data coupled with a thorough audit of data capabilities and data-related business opportunities to <strong>identify and evaluate the potential value of future data projects</strong>.
		    
		  </p>
		</div>
              </div>
	     
                <div class="col-md-4">
                    <h4 class="service-heading">Data Strategy</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">Based on our value assessment and the business goals and constraints, we articulate recommendations as <strong>how to conduct the data transformation</strong> of our clients, whether globally or in a sub-part of their activity. 
		     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Data Management</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">We provide expertise and advice on which <strong>DMP architecture and big data technologies</strong> should be implemented to optimise the efficiency, robustness and reliability of the company's data.
		
                      </p>
               
                    </div>
		</div>
            </div>
	    <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#solutions"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>  
        </div>
    </section>




    <!-- Solutions Section -->
    <section id="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Solutions</h2>
                </div>
            </div>
	    <div class="text-center"><a href="/usecases">Check our use cases</a></div></br></br>
	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Data Collection</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p><strong>We identify and harvest the data relevent to our clients' business</strong>, from both owned digital assets and external sources, with tracking, archiving and scraping solutions adapted to the activity's constraints.
		    
		  </p>
		</div>
              </div>


                <div class="col-md-4">
                    <h4 class="service-heading">Algorithm Design</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-skyatlas fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">At the core of our offers, R&D missions to design, develop and implement the perfect fit technology to achieve goals is Jalgos historical activity. We have been creating <strong>innovative solutions that constitute the basis of the digital activities</strong> of our clients.		     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Solution Deployment</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">We select and deploy the relevent <strong>big data, data visualization and analytics technologies</strong> that help  make the best of digital assets.     
			
                      </p>
               
                    </div>
		</div>
            </div>
	    <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#transformation"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>    
        </div>
    </section>



    <!-- Trransformation Section -->
    <section id="transformation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transformation</h2>
                </div>
            </div>
	    </br></br>
	    <div class="row text-center" "portfolio-item">
                <div class="col-md-1">
                </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Training</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      Our "data science for managers" training <strong>brings data literacy to managers and teams</strong>, a strong prerequisite to successfully integrate data in our clients' businesses. Jalgos helps you <strong>hire and build an internal team of data scientists</strong> to deepen the data maturity of your company.
                    </p>
		    </div>
                  </div>
		<div class="col-md-2">
                </div>
		<div class="col-md-4">
                  <h4 class="service-heading">Evangelization</h4>
		  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                  </span>
		  <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      We make our passion for data public. <strong>We organise data hackathons and data science competitions</strong> for partners and clients and talk in conferences. Jalgos is behind the <strong>organization of the Data For Change conference</strong>, with its partners Socialter and Nukomeet.
                    </p>
		  </div>
                </div>
		
                <div class="col-md-1">
                  
		</div>
            </div> 
	    <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>    
        </div>
    </section>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4  text-left">
        <span class="copyright">Copyright &copy; Jalgos SAS 2013-2015</br>Jalgos SAS </br>34 rue George Sand </br>75016 Paris, France</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/JalgosTeam" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/jalgos" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
         <span class="copyright">Contact: data @ jalgos.com</span>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/agency.js"></script>

</body>


</html>
