
    <!-- Navigation -->

    {% include "header.html" %}    

 <!-- Intro -->
 <div class="container" id="intro">
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-md-1"></div>
     <div class="col-md-10 text-center">
       <h4><strong>We help transform your data into value</strong></h4>
       <h4 class="text-left"><!--Data is the new fuel of business and innovation. It has become essential in every industry to smartly integrate the titanic volumes generated and to master the art of transforming them into actionable insights and value.</br></br>-->
</br></br>We help companies <span class="text-muted"><u>define their data strategy</u></span>, we designs <span class="text-muted"><u>tailored algorithms</u></span> to optimise the performance of their digital assets, and  <span class="text-muted"><u>accompany their teams towards data literacy</u></span> for a complete data transformation.
       </h4>
     </div>
     <div class="col-md-1"></div>
   </div>
   <div></br></br></br></br></br></br></div>
   <div class="row">
     <div class="col-lg-12 text-center">
       <span class="fa-stack fa-2x">
	 <a class="page-scroll" href="#advisory"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
       </span>
     </div>
   </div>
 </div>
   
   <!-- Advisory Section -->
    <section id="advisory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Consulting</h2>
                </div>
            </div>
	   
	    </br></br>

	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Value Assessment</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p>We perform exploratory analysis of your data coupled with a thorough audit of data capabilities and data-related business opportunities to <strong>identify and evaluate the potential value of future data projects</strong>.
		    
		  </p>
		</div>
              </div>
	     
                <div class="col-md-4">
                    <h4 class="service-heading">Data Strategy</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">Based on our value assessment and the business goals and constraints, we articulate recommendations as <strong>how to conduct the data transformation</strong> of our clients, whether globally or in a sub-part of their activity. 
		     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Data Management</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">We provide expertise and advice on which <strong>DMP architecture and big data technologies</strong> should be implemented to optimise the efficiency, robustness and reliability of the company's data.
		
                      </p>
               
                    </div>
		</div>
            </div>
	    <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#solutions"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>  
        </div>
    </section>




    <!-- Solutions Section -->
    <section id="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Solutions</h2>
                </div>
            </div>
	    <div class="text-center"><a href="/usecases">Check our use cases</a></div></br></br>
	    <div class="row text-center" "portfolio-item">
              <div class="col-md-4">
		<h4 class="service-heading">Data Collection</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-tint fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-muted text-left"><p><strong>We identify and harvest the data relevent to our clients' business</strong>, from both owned digital assets and external sources, with tracking, archiving and scraping solutions adapted to the activity's constraints.
		    
		  </p>
		</div>
              </div>


                <div class="col-md-4">
                    <h4 class="service-heading">Algorithm Design</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-skyatlas fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">At the core of our offers, R&D missions to design, develop and implement the perfect fit technology to achieve goals is Jalgos historical activity. We have been creating <strong>innovative solutions that constitute the basis of the digital activities</strong> of our clients.		     
                    </p>
		    </div>
                  </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Solution Deployment</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
		      <p class="text-muted text-left">We select and deploy the relevent <strong>big data, data visualization and analytics technologies</strong> that help  make the best of digital assets.     
			
                      </p>
               
                    </div>
		</div>
            </div>
	    <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#transformation"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>    
        </div>
    </section>



    <!-- Trransformation Section -->
    <section id="transformation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transformation</h2>
                </div>
            </div>
	    </br></br>
	    <div class="row text-center" "portfolio-item">
                <div class="col-md-1">
                </div>

                <div class="col-md-4">
                    <h4 class="service-heading">Training</h4>
		    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
		    <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      Our "data science for managers" training <strong>brings data literacy to managers and teams</strong>, a strong prerequisite to successfully integrate data in our clients' businesses. Jalgos helps you <strong>hire and build an internal team of data scientists</strong> to deepen the data maturity of your company.
                    </p>
		    </div>
                  </div>
		<div class="col-md-2">
                </div>
		<div class="col-md-4">
                  <h4 class="service-heading">Evangelization</h4>
		  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
                  </span>
		  <div class="text-muted text-left">
                    <p class="text-muted text-left">
		      We make our passion for data public. <strong>We organise data hackathons and data science competitions</strong> for partners and clients and talk in conferences. Jalgos is behind the <strong>organization of the Data For Change conference</strong>, with its partners Socialter and Nukomeet.
                    </p>
		  </div>
                </div>
		
                <div class="col-md-1">
                  
		</div>
            </div> 
	    <div></br></br></br></div>
	    <div class="row">
	      <div class="col-lg-12 text-center">
		<span class="fa-stack fa-2x">
		  <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
		</span>
	      </div>
	    </div>    
        </div>
    </section>


{% include "footer.html" %}

