<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalgos, Data Science</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="/"><img src="img/jalgosteenlight.jpg"></a>
		  </li>
                </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>
                        <a href="/">Home</a>
                    </li>
		    <li>
                        <a href="/usecases">Use cases</a>
                    </li>
		    <li>
                        <a href="/references">References</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
		    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/references-fr"><img src="img/fr.jpg"></a>
		    </li>
		    <li>
			<a href="/references"><img src="img/en.jpg"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="container">
        <div class="intro-text">
	  <div><img src="img/jalgos_white.png"></div>
	  <div></br></br></div>
          <div class="intro-heading">Data Science Agency</div>
          <div class="intro-lead-in">Consulting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transformation</div>
          <!--<a href="#DNA" class="page-scroll"><button type="submit" class="btn btn-x1">Learn More</button></a>
	      <!--<div class="intro-lead-in" style="font-style: normal">To contact us: julien @ jalgos.com</div>-->
        </div>
	<span class="fa-stack fa-2x">
         <a class="page-scroll" href="#portfolio"> <i class="fa fa-chevron-down fa-stack-1x fa-inverse"></i></a>
        </span>
      </div>
    </header>
    
 






    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">From our lab</h2>
                    <h3 class="section-subheading text-muted">A few examples of our realizations</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <!--<a href="http://www.mediamath.com/news/press-release-mediamath-acquires-tactads-to-enable-cookieless-cross-device-targeting-and-measurement/" target="_blank" class="portfolio-link" data-toggle="modal">-->
		    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Cross device tracking</h4>
                        <p class="text-muted">Individual targetting algorithm</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sales effectiveness</h4>
                        <p class="text-muted">Sales success algorithm</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Art market prediction</h4>
                        <p class="text-muted">Financial algorithm</p>
                    </div>
                </div>
            </div>
	    <div class="row">
	      <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/4.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sports prediction</h4>
                        <p class="text-muted">Predictive algorithm, recommendation</p>
                    </div>
                </div>
	    </div>
	   
        </div>
    </section>


   



    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
	      </br></br>
                <h2 align="center">References</h2>
		</br></br></br>
                <div class="col-md-2 col-sm-6 panel panel-default">
                       <a href="http://nukomeet.com" target="_blank"> 
			 <img src="img/logos/nuk.png" class="img-responsive img-centered" alt="">
		       </a>
                </div>
                <div class="col-md-2 col-sm-6 panel panel-default">
                        <a href="http://www.mediamath.com/" target="_blank"> 
			  <img src="img/logos/mediamath.png" class="img-responsive img-centered" alt="">
			</a>
                </div>
                <div class="col-md-2 col-sm-6 panel panel-default">
                  <a href="http://www.floatingapps.com/" target="_blank"> 
		    <img src="img/logos/AMS.png" class="img-responsive img-centered" alt="">			
		  </a>
                </div>
                <div class="col-md-2 col-sm-6 panel panel-default">
                   
		    <img src="img/logos/sporcast_grass_white.jpg" class="img-responsive img-centered" alt="">

                </div>

		<div class="col-md-2 col-sm-6 panel panel-default">
                  <a href="http://razzia.co" target="_blank"> 
                    <img src="img/logos/razzia_min.png" class="img-responsive img-centered" alt="">
			</a>

                </div>

		<div class="col-md-2 col-sm-6 panel panel-default">
                  <a href="http://www.tactads.com/" target="_blank"> 
		    <img src="img/logos/tactads.jpg" class="img-responsive img-centered" alt="">
			</a>

                </div>


		<div class="col-md-2 col-sm-6 panel panel-default">
                  <a href="http://tweetbooster.fr" target="_blank"> 
                    <img src="img/logos/TB.png" class="img-responsive img-centered" alt="">
			</a>

                </div>
		<div class="col-md-2 col-sm-6 panel panel-default">
		    <img src="img/logos/priceless.png" class="img-responsive img-centered" alt="">

                   
                </div>

            </div>
        </div>
    </aside>




<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4  text-left">
        <span class="copyright">Copyright &copy; Jalgos SAS 2013-2015</br>Jalgos SAS </br>34 rue George Sand </br>75016 Paris, France</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/JalgosTeam" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/jalgos" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
         <span class="copyright">Contact: data @ jalgos.com</span>
      </div>
    </div>
  </div>
</footer>


    <!-- Modals

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->

                            <h3>Cross device tracking technology</h3>
                        <p class="item-intro text-muted">Individual targeting</p>
                            <img class="img-responsive center" src="img/about/1.jpg" alt="">
                            <p class="row text-left">
                                We built a cross device tracking technology from scratch using e-commerce website data. After exploratory analysis, we designed and developed a custom algorithm able to identify unique recurring cross-device visitors on a website with high accuracy. The delivery and implementation of our solution lead to a <a href="http://www.mediamath.com/news/press-release-mediamath-acquires-tactads-to-enable-cookieless-cross-device-targeting-and-measurement" target="_blank">succesful aquisition</a> of our client, Tactads, by Mediamath.
                            </p>
                           
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->

                            <h3>Sales effectiveness</h3>
                        <p class="item-intro text-muted">Sales success algorithm</p>
                            <img class="img-responsive center" src="img/about/2.jpg" alt="">
                            <p class="row text-left">
                               Performing analysis over Salesforce&#169;, email and calendar data, we identified key success factors of a sales process for most industries. We developed a forecasting algorithm and our research oriented us toward building for our client and partner Chili Piper a smart alerts engine and smart virtual assistant that allow salespeople to take the right action at the right time, as well as a workload and pipeline optimizer.
                            </p>
                           
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->

                            <h3>Art market prediction</h3>
                        <p class="item-intro text-muted">Financial algorithm and recommendation engine</p>
                            <img class="img-responsive center" src="img/about/3.jpg" alt="">
                            <p class="row text-left">
                               We ran analyses and performed modelling over art market data in order to help anticipate artwork and artist value changes on the market, detect early success and predict price evolution of traded works. Our model serves as the basis of investment and trading strategies
                            </p>
                           
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->

                            <h3>Sport prediction</h3>
                        <p class="item-intro text-muted">Predictive algorithms and recommendation engines</p>
                            <img class="img-responsive center" src="img/about/4.jpg" alt="">
                            <p class="row text-left">We are developing advanced models for prediction in several professional sports, including tennis and basketball. The data we process and analyse include numeric, semantic and unstructured data, to provide insights on competitions output, players performance or strategy. Our technology and research include modelling, statistical analysis, NLP (natural language processing) and machine learning techniques.
                            </p>
                           
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>

</html>
