<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalgos, Data Science</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="/"><img src="img/jalgosteenlight.jpg"></a>
		  </li>
                </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>
                        <a href="/">Home</a>
                    </li>
		    <li>
                        <a href="/usecases">Use cases</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
		    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/usecases-fr"><img src="img/fr.jpg"></a>
		    </li>
		    <li>
			<a href="/usecases"><img src="img/en.jpg"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
	      <div><img src="img/jalgos_white.png"></div>
	      <div></br></br></div>
                <div class="intro-heading">Data Science Agency</div>
                <div class="intro-lead-in">Consulting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transformation</div>
               <!--<a href="#DNA" class="page-scroll"><button type="submit" class="btn btn-x1">Learn More</button></a>
		<!--<div class="intro-lead-in" style="font-style: normal">To contact us: julien @ jalgos.com</div>-->
            </div>
        </div>
    </header>


     
 <!-- Use cases Section -->
 <section id="usecases">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading">Use Cases</h2>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12 text-center">
	 <span class="fa-stack fa-2x">
	   <a class="page-scroll" href="#marketing"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
	 </span>
       </div>
     </div>  
     </br></br>
   </div>
 </section>
     
 <section id="marketing">
   <div class="container">
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Marketing and advertising</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   We develop and implement solutions that enable companies and CMOs to highly enhance revenu and profitability.</br></br>
	   Harnessing properly the signals allows to build a <strong>precise and dynamic customer knowloedge</strong>, to identify the <strong>most profitable customers</strong> even before their first buy, to <strong>manage churn and highly improve cross and up selling</strong>, to have a <strong>peronalised and dynamic pricing strategy</strong> that improves revenue, and to bring more value to clients thanks to individually targeted actions.</br>
	   We also help our clients to <strong>identify new markets</strong>, to <strong>optimise campaigns and channels</strong>.</br>
	   We also develop integrated solutions that bring more automated feedback from the sales side to marketing in order to optimise the qualification process.</br></br>
	   Our reporting, automation and analytics solutions enable a strong raise in profitability, customer satisfaction and decision making.
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Examples of applications:</u>
	   <ul>
	     <li>Smart, dynamic segmentation of customers.</li>
	     <li>Early identification and targetting of high LTV profiles, dynamic churn management, targeted campaigns, cross and up selling optimization.</li>
	     <li>Dynamic and personalised pricing strategy</li>
	     <li>Real time reporting and visualization for better customer success and decision making</li>
	     <li>New market and opportunity detection</li>
	     <li>Optimization and evaluation of campaigns efficiency.</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Standard products</u>: algorithms, dahsboard and visualizations, reports, big data architecture, training</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	 </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
	   <span class="fa-stack fa-2x">
	     <a class="page-scroll" href="#risk"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
	   </span>
    </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>  
     </div>
   </div>
 </section>



<section id="risk">
   <div class="container">
       <div class="row text-center" "portfolio-item">
	 <div class="col-md-1"></div>
	 <div class="col-md-10 panel panel-default">
	   <h3 class="service-heading">Risk</h3>
	 </div>
	 <div class="col-md-1"></div>
       </div>
       <div class="row text-center" "portfolio-item">
	 <div class="col-md-1"></div>
	 <div class="col-md-5">
	   <div class="text-muted text-left">
	     From finance to operationnal risks, we accompany our clients towards a  <strong>quantified and transparent risk management strategy</strong>. We implement solutions for pricing, prevention, diagnostic and risk management.
	    </br></br>
	    Using big data to improve risk management, we enable our clients to better  <strong>anticipate and understand their risks</strong>, to <strong>reduce its cost</strong>, and to improve <strong>decision making</strong> through better modelling and visualizations.</br>
	    From a financial and actuarial point of view, we develop <strong>pricing tools for market, liquidity and credit risks</strong>.</br>
	    Operational risk management highly benefits from big data integration, in particular in <strong>fraud detection</strong>, <strong>breakdowns diagnosis</strong> and  <strong>monitoring</strong>.
	   </div>
	 </div>
	 <div class="col-md-5">
	   <div class="text-muted text-left">
	      <u>Examples of work:</u>
	      <ul>
	       <li>Pricing, insurance and investment strategy</li>
	       <li>Market, credit and liquidity risk management</li>
	       <li>Operational risk management</li>
	       <li>Dashboards and monitoring</li>
	       <li>Fraud detection, breakdown diagnosis</li>
	      </ul>
	   </div>
	   <div class="text-muted text-center">
           </br><u>Standard products</u>: pricing algorithms, dahsboard and visualizations, reports, big data architecture, training</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
	 </div>
	 <div class="col-md-1"></div>
	 
	 <div></br></br></br></div>
	 <div class="row">
	   <div class="col-lg-12 text-center">
	     <span class="fa-stack fa-2x">
	       <a class="page-scroll" href="#RH"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
	     </span>
     </br> </br> </br> </br> </br> </br> </br>
	   </div>
	 </div>  
     </div>
   </div>
 </section>
	 
	 


<section id="RH">
   <div class="container">	 
	 <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Human resources</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   We help companies optimize talent aquisition, retention, and management.
	   </br></br>
	   We develop targetting solutions to identify talents and optimize the hiring campaigns.
	  </br>
	  Big data solutions also help improve exceptional talent detection and talent management inside the company. We help optimize training programs for individuals based on analytics.  
	 </br></br>
	   Dashboards and monitoring tools help HR professional get more relevant information easily in order to strengthen their decision process and strategy definition.
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Examples of applications:</u>
	   <ul>	     
	     <li>Talent aquisition, management and retention</li>
	     <li>Job posting and hiring campaigns analytics</li>
	     <li>Hiring efficiency benchmark with competition</li>
	     <li>Talent targetting, resume screening</li>
	     <li>Hiring campaign optimization</li>
	     <li>Training strategy optimization</li>
	     <li>Data science team hiring consulting</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Standard products</u>: pricing algorithms, dahsboard and visualizations, reports, big data architecture, training</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
    <span class="fa-stack fa-2x">
      <a class="page-scroll" href="#sales"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
    </span>
     </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>  
         </div>
   </div>
 </section>
 


<section id="sales">
   <div class="container">
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Sales</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Big data for sales bring immediate value to our clients through process optimization, targetting, resource allocation, and better forecast.</br></br>
	   We enable our clients to have a <strong>better forecast</strong> for individuals and the team. We provide <strong>opportunity scoring</strong> solutions, alongside <strong>opporunity prioritization</strong> tools. Machine learning algorithms allow to <strong>closing probability</strong> through process optimization, by pushing best templates, actions, and timing for the sales people to use.</br>
	   Segmentation and targetting allows strong enhancement of cross and up selling.</br></br>
	   Finally, a better and automatic feedback integration towards marketing helps getting better qualified leads and to adapt the funnel size dynamically.
	  
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Examples of applications:</u>
	   <ul>
	     <li>Precise and dynamic forecast</li>
	     <li>Best opportunity selection and dynamic filtering</li>
	     <li>Feedback integration with marketing for better qualification and dynamic funnel size management</li>
	     <li>Automation and synchronization</li>
	     <li>Opportunity scoring</li>
	     <li>Cross and up selling optimization</li>
	     <li>Process optimization</li>
	     <li>Reporting, monitoring, and automatic report generator for the team</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Standard products</u>: pricing algorithms, dahsboard and visualizations, reports, big data architecture, training</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
    <span class="fa-stack fa-2x">
      <a class="page-scroll" href="#IT"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
    </span>
     </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>  
          </div>
   </div>
 </section>



<section id="IT">
   <div class="container">
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">IT</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   IT's ability to implement a proper big data architecture is key for a company's data transformation and a necessity to allow businesses to develop their data science solutions.</br>
	  We provide consulting to IT department for <strong>gathering, storage and computation architecture</strong> to provide <strong>reliability, security and performance</strong> to the business end users. Whether <strong>local solution, cloud, data lake or DMP</strong>, we help you make the good decisions depending on your constraints and goals.</br>
	   We coordinate with our <strong>storage and IT partners</strong> to provide you integrated solutions.
	   </br>Finally, operationnal risk management tools allow for <strong>breakdown detection, diagnosis and prevention</strong>.
	   </br></br>
	   
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Examples of applications:</u>
	   <ul>
	     <li>Big data architecture consulting</li>
	     <li>Hardware and software solutions with our partners</li>
	     <li>Data lake and DMP consulting</li>
	     <li>Cloud solutions</li>
	     <li>Implementation of big data solutions (Hadoop, Spark, etc.)</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Standard products</u>: pricing algorithms, dahsboard and visualizations, reports, big data architecture, training</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
    <span class="fa-stack fa-2x">
      <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
    </span>
     </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>     

     </div>
 </section>
 


    
    
    <!-- Portfolio Grid Section
    <section id="portfolio" class="bg-light-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Technologies</h2>
            <h3 class="section-subheading text-muted">A few examples of innovative solutions straight from our data lab</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-4 portfolio-item">
            <!--<a href="http://www.mediamath.com/news/press-release-mediamath-acquires-tactads-to-enable-cookieless-cross-device-targeting-and-measurement/" target="_blank" class="portfolio-link" data-toggle="modal">-->
<!--
	    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <em>Individual targetting algorithm</em>
                            </div>
                        </div>
                        <img src="img/about/1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <em><strong>Cross-device tracking</strong></em>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sales effectiveness</h4>
                        <p class="text-muted">Sales success algorithm</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Art market prediction</h4>
                        <p class="text-muted">Financial algorithm</p>
                    </div>
                </div>
           
	      <div class="col-md-2 col-sm-4 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/about/4.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sports prediction</h4>
                        <p class="text-muted">Predictive algorithm, recommendation</p>
                    </div>
                </div>
	    </div>
	    
        </div>
    </section>

-->
 
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4  text-left">
        <span class="copyright">Copyright &copy; Jalgos SAS 2013-2015</br>Jalgos SAS </br>34 rue George Sand </br>75016 Paris, France</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/JalgosTeam" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/jalgos" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
         <span class="copyright">Contact: data @ jalgos.com</span>
      </div>
    </div>
  </div>
</footer>

</body>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    

</html>
