<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalgos, Data Science</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="/fr"><img src="img/jalgosteenlight.jpg"></a>
		  </li>
                </ul>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>
                        <a href="/fr">Home</a>
                    </li>
		    <li>
                        <a href="/usecases-fr">Use cases</a>
                    </li>
		    <li>
                        <a href="/references-fr">References</a>
                    </li>
                    <li>
                        <a href="/about-fr">About</a>
                    </li>
		    <li>
                        <a href="/contact-fr">Contact</a>
                    </li>
                    <li>
                        <a href="/usecases-fr"><img src="img/fr.jpg"></a>
		    </li>
		    <li>
			<a href="/usecases"><img src="img/en.jpg"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
	      <div><img src="img/jalgos_white.png"></div>
	      <div></br></br></div>
                <div class="intro-heading">Data Science Agency</div>
                <div class="intro-lead-in">Consulting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transformation</div>
               <!--<a href="#DNA" class="page-scroll"><button type="submit" class="btn btn-x1">Learn More</button></a>
		<!--<div class="intro-lead-in" style="font-style: normal">To contact us: julien @ jalgos.com</div>-->
            </div>
        </div>
    </header>

 
 <!-- Use cases Section -->
 <section id="usecases">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading">Use Cases</h2>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12 text-center">
	 <span class="fa-stack fa-2x">
	   <a class="page-scroll" href="#marketing"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
	 </span>
       </div>
     </div>  
     </br></br>
   </div>
 </section>
     
 <section id="marketing">
   <div class="container">
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Marketing et publicité</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Nous réalisons et implémentons des solutions permettant aux entreprises et directions marketing de générer de fortes augmentations de revenus et de rentabilité.</br></br>
	   L'exploitation pertinente des signaux permet notamment d'aquérir une <strong>connaissance client fine et évolutive</strong>, d'identifier les <strong>clients les plus rentables</strong> avant même leur premier achat, de <strong>diminuer le churn et d'augmenter fortement le cross et up-selling</strong>, de mettre en place une <strong>stratégie tarifaire dynamique et personnalisée</strong> et ainsi augmenter les revenus à volume égal, et d'appporter davantage de valeur aux clients par des actions personnalisées.</br>
	   Exploiter correctement la data permet également d'<strong>identifier de nouveaux marchés</strong>, d'<strong>optimiser l'efficacité des campagnes de publicité et campagnes promotionnelles</strong> grâce à un ciblage et une contextualisation accrus.</br>
	   Enfin, une solution big data permet de mutualiser de façon cohérente les informations pertinentes pour le marketing et la vente, optimisant le processus dans son ensemble.</br></br>
	   Nos solutions de reporting, d'automatisation et d'analyse permettent une augmentation nette de la rentabilité, de la satisfaction clients et de la prise de décision marketing.
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Exemples de réalisation:</u>
	   <ul>
	     <li>Segmentation intelligente automatique et dynamique des clients.</li>
	     <li>Identification anticipée des profils à haute LTV,  gestion dynamique du churn, campagnes promotionnelles ciblées, optimisation du cross-selling et up-selling.</li>
	     <li>Optimisation du système tarifaire vers une solution personnalisée et dynamique</li>
	     <li>Reporting et visualisation en temps réel permettant de mieux connaître et servir ses clients</li>
	     <li>Identification de nouveaux marchés et nouveau clients</li>
	     <li>Optimisation des campagnes et évaluation de leur efficacité.</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Livrables type</u>: outils et algorithmes (temps réel, machine learning, recommandations, simulation, pricing, optimisation, automatisation), architecture big data, visualisations et dashboards dynamiques, rapports, formations</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	 </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
	   <span class="fa-stack fa-2x">
	     <a class="page-scroll" href="#risk"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
	   </span>
    </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>  
     </div>
   </div>
 </section>



<section id="risk">
   <div class="container">
       <div class="row text-center" "portfolio-item">
	 <div class="col-md-1"></div>
	 <div class="col-md-10 panel panel-default">
	   <h3 class="service-heading">Risque</h3>
	 </div>
	 <div class="col-md-1"></div>
       </div>
       <div class="row text-center" "portfolio-item">
	 <div class="col-md-1"></div>
	 <div class="col-md-5">
	   <div class="text-muted text-left">
	     De la finance aux risque opérationnels, qu'il s'agisse de prévention, détection, diagnostic, gestion ou pricing du risque, nous accompagnons les entreprises dans leur transition vers une <strong>approche et une gestion quantifiées et transparentes de leurs risques</strong>.</br></br>
	     En intégrant le big data à la base de la gestion du risque, nous permettons à nos client de mieux <strong>anticiper et comprendre leurs risques</strong>, de <strong>réduire le coût du risque</strong>, et d'<strong>améliorer la prise de décision</strong> grâce à davantage de transparence et une meilleure modélisation.</br>
	     D'un point de vue financier et actuariel, nous apportons à nos clients des outils de simulation, modélisation et pricing qui permettent d'optimiser la gestion et le <strong>pricing des risques de marché, de liquidité, de crédit</strong>.</br>
	     La gestion des risques opérationnels bénéficie également fortement de la mise en place d'outils big data adaptés, pour la <strong>détection de fraude</strong>, l'anticipation et le <strong>diagnostic de pannes</strong> ou d'accidents et un <strong>monitoring</strong> plus clair et transparent du risque opérationnel en général.
	   </div>
	 </div>
	 <div class="col-md-5">
	   <div class="text-muted text-left">
	      <u>Exemples de réalisation:</u>
	      <ul>
	       <li>Pricing et stratégie d'assurance ou d'investissement</li>
	       <li>Gestion des risques de marché, crédit, liquidité</li>
	       <li>Gestion des risques opérationnels</li>
	       <li>Outils de monitoring</li>
	       <li>Détections de fraude et diagnostics de pannes ou d'accidents</li>
	       <li>Anticipation et prévention</li>
	     </ul>
	   </div>
	   <div class="text-muted text-center">
           </br><u>Livrables type</u>: outils et algorithmes (temps réel, machine learning, recommandations, simulation, pricing, optimisation, automatisation), architecture big data, visualisations et dashboards dynamiques, rapports, formations</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
	 </div>
	 <div class="col-md-1"></div>
	 
	 <div></br></br></br></div>
	 <div class="row">
	   <div class="col-lg-12 text-center">
	     <span class="fa-stack fa-2x">
	       <a class="page-scroll" href="#RH"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
	     </span>
     </br> </br> </br> </br> </br> </br> </br>
	   </div>
	 </div>  
     </div>
   </div>
 </section>
	 
	 


<section id="RH">
   <div class="container">	 
	 <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Ressources humaines</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   Nous aidons les entreprises et directions RH à obtenir et utiliser les informations et connaissances issues des données afin d'optimiser leurs prises de décisions, stratégie et gestion des talents.</br></br>
	   La mise en place d'outils de visualisation et de reporting permet d'avoir accès à une connaissance fine et utiles tant pour le recrutement que pour la gestion de la performance interne. Nous aidons nos clients à mettre en place des stratégies de recrutement optimisées grâce à des outils de ciblage de talents, d'optimisation d'efficacité de campagnes de recrutement.</br>
	   Une utilisation pertinente du big data permet également d'augmenter fortement l'identification et la rétention des talents au sein de l'entreprise, ainsi que l'optimisation de la stratégie de formation continue à appliquer pour faire monter en puissance les équipes.</br>
	   Les technologies et dashboards apportent aux professionnels des RH un accès à des données pertinentes pour orienter leurs décisions et optimiser les résultats.
	   </br></br>
	   Nous fournissons également du conseil en recrutement de data scientists pour les entreprises souhaitant constituer une équipe interne.
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Exemples de réalisations:</u>
	   <ul>	     
	     <li>Acquisition, gestion et rétention des talents</li>
	     <li>Visibilité des investissements</li>
	     <li>Métriques détaillées de consultations et réponses des offres de recrutement</li>
	     <li>Benchmark d'efficacité de recrutement avec la concurrence</li>
	     <li>Optimisation du ciblage de talents</li>
	     <li>Évaluation et optimisation des campagnes de recrutement</li>
	     <li>Meilleurs choix de formation, optimisation de l'évolution professionnelle</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Livrables type</u>: outils et algorithmes (temps réel, machine learning, recommandations, simulation, pricing, optimisation, automatisation), architecture big data, visualisations et dashboards dynamiques, rapports, formations</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
    <span class="fa-stack fa-2x">
      <a class="page-scroll" href="#sales"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
    </span>
     </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>  
         </div>
   </div>
 </section>
 


<section id="sales">
   <div class="container">
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">Vente</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   L'introduction d'analytics et de reporting pertinents en vente apporte des bénéfices immédiats en termes d'allocation d'effort, d'efficacité et de rentabilité.</br></br>
	   Nous permettons à nos clients d'aquérir une <strong>visibilité claire</strong> et en dynamique sur leur <strong>forecast</strong>, tant au niveau individuel que VC. Grâce à l'intégration de données structurelles et conjoncturelles, nous offrons la possbilité de réaliser de véritables prévisions de vente ainsi que de <strong>scorer avec précision les opportunités</strong> en cours.</br>
	   Nous aidons les équipes commerciales à <strong>prioriser les opportunités les plus prometteuses</strong> en termes de rentabilité future et de probabilité de gain, et des algorithmes avancés de machine learning permettent de sélectionner le moment optimal, mais aussi quelles actions, templates et offres doivent être utilisées par les commerciaux pour <strong>maximiser la probabilité de closer une opportunité</strong>.</br>
	   Le cross-selling et up-selling est fortement amélioré grâce à une segmentaion pertinente et dynamique des comptes et contacts permettant de proposer les bonnes offres au bon interlocuteur, le tout au moment idéal.</br></br>
	   Enfin, nous automatisons les "feedback" vers le marketing, permettant d'optimiser, en fonction des résultats de vente, les critères de qualification de leads, augmentant ainsi qualité des opportunités transmises.
	  
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Exemples de réalisations:</u>
	   <ul>
	     <li>Forecast précis et dynamique</li>
	     <li>Sélection des opportunités prioritaires</li>
	     <li>Lien en "feedback" automatisé avec le marketing pour une meilleure qualification des opportunités</li>
	     <li>Automatisation et synchronisation</li>
	     <li>Scoring d'opportunités</li>
	     <li>Optimisation du cross-selling et up-selling</li>
	     <li>Sélection des templates et actions les plus efficaces</li>
	     <li>Reporting d'équipe et génération automatique de rapports et dashboards</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Livrables type</u>: Dashboards et visualisation, générateurs automatiques de rapports visuels, outils et algorithmes (temps réel, machine learning, recommandations, simulation, pricing, optimisation, automatisation), architecture big data, mise en place de solutions intégrée avec le marketing, formations</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
    <span class="fa-stack fa-2x">
      <a class="page-scroll" href="#IT"> <i class="fa fa-chevron-down fa-stack-1x"></i></a>
    </span>
     </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>  
          </div>
   </div>
 </section>



<section id="IT">
   <div class="container">
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-10 panel panel-default">
	 <h3 class="service-heading">IT</h3>
       </div>
       <div class="col-md-1"></div>
     </div>
     <div class="row text-center" "portfolio-item">
       <div class="col-md-1"></div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   L'intégration de solutions big data au sein des département IT est primordiale pour le succès d'une transition data et de l'utilisation de solutions data science par les différents métiers.</br>
	   Nous conseillons les directions IT de nos clients dans la définition de l'<strong>architecture de récupération, de stockage et d'accès optimale des données</strong> assurant <strong>fiabilité, sécurité et performance</strong> pour accompagner et soutenir l'implémentation d'algorithmes et d'outils big data au niveau de l'entreprise ou d'un département. Qu'il s'agisse d'une <strong>solution locale, cloud, d'un data lake ou de la définition d'un DMP</strong>, nous vous orientons sur les choix à faire en fonction de vos perspectives de développement et de vos contraintes.</br>
	   Nous nous coordonnons avec nos <strong>partenaires IT et solutions de stockage</strong> afin de vous offrir une offre complète de conseil en architecture et technologie et de solutions hardware ou software clé en main.
	   </br>Enfin, des solutions big data spécifiques liés au risque opérationnel permettent de <strong>contrôler, prévenir et diagnostiquer les failles de sécurité, les pannes</strong>, et autres dysfonctionnements.
	   </br></br>
	   Une transition big data ne peut se faire qu'avec la participation et le soutien actifs des département IT, dont les choix en termes d'architecture servent de fondation aux développements futurs.
	 </div>
       </div>
       <div class="col-md-5">
	 <div class="text-muted text-left">
	   <u>Exemples de réalisations:</u>
	   <ul>
	     <li>Conseil en architecture data</li>
	     <li>Solutions clé en main grâce à nos partenaires hardware et software</li>
	     <li>Design de data lake et/ou DMP</li>
	     <li>Développement et mise en place de solutions cloud sécurisée</li>
	     <li>Mise en place de solutions big data optimisées (Hadoop, Spark, etc.)</li>
	   </ul>
	 </div>
	 <div class="text-muted text-center">
           </br><u>Livrables type</u>: Dashboards et algorithmes de gestion du risque opérationnel, architecture big data, mise en place de solutions intégrée grâce à nos partenaires, formations</br>
	   <span class="fa-stack fa-2x"><i class="fa fa-eye fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-leanpub fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-cogs fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-tachometer fa-stack-1x"></i></span>
	   <span class="fa-stack fa-2x"><i class="fa fa-graduation-cap fa-stack-1x"></i></span>
	   </div>
       </div>
       <div class="col-md-1"></div>
       
       <div></br></br></br></div>
       <div class="row">
	 <div class="col-lg-12 text-center">
    <span class="fa-stack fa-2x">
      <a class="page-scroll" href="#page-top"> <i class="fa fa-angle-double-up fa-stack-1x"></i></a>
    </span>
     </br> </br> </br> </br> </br> </br> </br>
	 </div>
       </div>     

     </div>
 </section>
 



<!--Par indutries-->

<!--
 <section id="portfolio" class="bg-light-gray">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading">Par industrie</h2>
         <h3 class="section-subheading text-muted"></h3>
       </div>
     </div>
     <div class="row">
       <div class="col-md-4 col-sm-4 portfolio-item">
         
	 <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
           <div class="portfolio-hover">
             <div class="portfolio-hover-content">
               <em>Predictive analytics, optimization</em>
             </div>
           </div>
           <img src="img/about/1.jpg" class="img-responsive" alt="">
         </a>
         <div class="portfolio-caption">
           <em><strong>Banque, Finance et Assurance</strong></em>
         </div>
       </div>
       <div class="col-md-4 col-sm-4 portfolio-item">
         <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
           <div class="portfolio-hover">
             <div class="portfolio-hover-content">
               <i class="fa fa-plus fa-3x"></i>
             </div>
           </div>
           <img src="img/about/2.jpg" class="img-responsive" alt="">
         </a>
         <div class="portfolio-caption">
           <em><strong>Grande Distribution</strong></em>
	   
         </div>
       </div>
       <div class="col-md-4 col-sm-4 portfolio-item">
         <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
           <div class="portfolio-hover">
             <div class="portfolio-hover-content">
               <i class="fa fa-plus fa-3x"></i>
             </div>
           </div>
           <img src="img/about/3.jpg" class="img-responsive" alt="">
         </a>
         <div class="portfolio-caption">
           <em><strong>Services Clients</strong></em>
	   
         </div>
       </div>
       
     </div>
       
     <div class="row">
       <div class="col-md-4 col-sm-4 portfolio-item">
         <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
           <div class="portfolio-hover">
             <div class="portfolio-hover-content">
               <i class="fa fa-plus fa-3x"></i>
             </div>
           </div>
           <img src="img/about/4.jpg" class="img-responsive" alt="">
         </a>
         <div class="portfolio-caption">
           <em><strong>Média</strong></em>
         </div>
       </div>
       
       
       <div class="col-md-4 col-sm-4 portfolio-item">
         <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
           <div class="portfolio-hover">
             <div class="portfolio-hover-content">
               <i class="fa fa-plus fa-3x"></i>
             </div>
           </div>
           <img src="img/about/4.jpg" class="img-responsive" alt="">
         </a>
         <div class="portfolio-caption">
           <em><strong>Santé</strong></em>
         </div>
       </div>
       
       <div class="col-md-4 col-sm-4 portfolio-item">
         <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
           <div class="portfolio-hover">
             <div class="portfolio-hover-content">
               <i class="fa fa-plus fa-3x"></i>
             </div>
           </div>
           <img src="img/about/4.jpg" class="img-responsive" alt="">
         </a>
         <div class="portfolio-caption">
           <em><strong>Environnement</strong></em>
         </div>
       </div>

       <div class="row">
	 
	 <div class="col-md-4 col-sm-4 portfolio-item">
           <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
             <div class="portfolio-hover">
	       <div class="portfolio-hover-content">
                 <i class="fa fa-plus fa-3x"></i>
	       </div>
             </div>
             <img src="img/about/4.jpg" class="img-responsive" alt="">
           </a>
           <div class="portfolio-caption">
             <em><strong>Agriculture</strong></em>
           </div>
         </div>
	 
	 <div class="col-md-4 col-sm-4 portfolio-item">
           <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
             <div class="portfolio-hover">
	       <div class="portfolio-hover-content">
                 <i class="fa fa-plus fa-3x"></i>
	       </div>
             </div>
             <img src="img/about/4.jpg" class="img-responsive" alt="">
           </a>
           <div class="portfolio-caption">
             <em><strong>Énergie</strong></em>
           </div>
	 </div>
       </div>
     </div>
   </div>
 </section>
 -->
 
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4  text-left">
        <span class="copyright">Copyright &copy; Jalgos SAS 2013-2015</br>Jalgos SAS </br>34 rue George Sand </br>75016 Paris, France</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/JalgosTeam" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company/jalgos" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
         <span class="copyright">Contact: data @ jalgos.com</span>
      </div>
    </div>
  </div>
</footer>

</body>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>



</html>
